amqp==5.3.1
asgiref==3.11.0
billiard==4.2.4
black==25.12.0
celery==5.6.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
drf-spectacular
drf-spectacular-sidecar
exceptiongroup==1.3.1
flake8==7.3.0
idna==3.11
isort==7.0.0
kombu==5.6.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.1
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pyflakes==3.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytest
pytest-django
pytokens==0.3.0
redis==7.1.0
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.2
vine==5.1.0
wcwidth==0.2.14
drf-spectacular
drf-spectacular-sidecar


